body {
    /* toon het ontwerp 
    background-image: url("../ontwerp.png");
    background-repeat: no-repeat;
    background-position-x: 600px;
    */

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
}

li {
    font-size: 20px;
    line-height: 26px;
}

p.first {
    font-size: 24px;
    line-height: 32px;
}

p.others {
    font-size: 20px;
    line-height: 26px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-20 {
    margin-bottom: 24px;
}

ul li {
    margin-bottom: 10px;
}

ol li {
    margin-bottom: 20px;
}

/* div om de gehele pagina te centreren */
.container {
    width: 940px;
    /* margin: 0 auto; */
}

h1 {
    margin-top: 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
}

h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
}

.tip {
    background-color: #def6ed;
    border-radius: 4px;
    padding: 25px;
}